# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg

# Poetry
*.dist-info/
*.whl

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
.venv/
venv/
ENV/
env/
env.bak/
.venv.bak/

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# FastAPI related
instance/
*.db
*.sqlite3

# Task runner logs (like taskipy or similar)
taskipy.log

# VS Code / IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Mac / Linux / Windows OS files
.DS_Store
Thumbs.db
/resources/logs
